<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="StorageDLHI.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="StorageDLHI" connectionString="server=DESKTOP-KD2BPDJ;database=DLHI_V3;Integrated Security = true;uid=sa;pwd=Aa123456@" />
		<!--server=DESKTOP-KD2BPDJ;database=DLHI_V2;Integrated Security = true;uid=sa;pwd=Aa123456@-->
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<userSettings>
		<StorageDLHI.App.Properties.Settings>
   <setting name="DbConnectionString" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberLogin" serializeAs="String">
    <value />
   </setting>
   <setting name="Database" serializeAs="String">
    <value />
   </setting>
  </StorageDLHI.App.Properties.Settings>
	</userSettings>
</configuration>